$white: #FFF;
$black: #000;
$gray-10: #f4f5f6;
$gray-40: #D2D4D7;
$gray-50: #B3B5B7;
$gray-60: #939597;
$gray-70: #737577;
$gray-80: #535557;
$gray-90: #131517;
$gray-100: #212325;
$gray-110: #313234;
$pink: #CC62D5;
$pink-dark: #BB2DC7;
$yellow: #FF9641;
$yellow-dark: #EC660D11;
$blue: #325FFA;
$orange: #EC660D;
$green: #07A460;
$red: #E83B47;
$red-light: #FF5965;
$purple: #682FFF;
$mustard: #D19D20;
$gradient-color: radial-gradient(86% 86% at 6% 9%, #8800FF 0%, #A732D6 51%, #EF79FF 100%);
$modal-bg: #1E2022;
$modal-bg-dk: #0009;
$modal-bg-lg: #b3b5b799;
$shadow-modal-lg: 0 0 0 1px rgba(19, 21, 23, 0.08), 0 3.3px 2.7px rgba(0, 0, 0, 0.03), 0 8.3px 6.9px rgba(0, 0, 0, 0.04), 0 17px 14.2px rgba(0, 0, 0, 0.05), 0 35px 29.2px rgba(0, 0, 0, 0.06), 0 96px 80px rgba(0, 0, 0, 0.07), 0px -4px 4px 0px rgba(0, 0, 0, 0.04) inset;
$shadow-modal-dk: 0 0 0 1px rgba(255, 255, 255, 0.08), 0 3.3px 2.7px rgba(0, 0, 0, 0.3), 0 8.3px 6.9px rgba(0, 0, 0, 0.3), 0 17px 14.2px rgba(0, 0, 0, 0.35), 0 35px 29.2px rgba(0, 0, 0, 0.4), 0px -4px 4px 0px rgba(0, 0, 0, 0.04) inset;