@use '../../ui/styles/mixins.scss' as mixin;
@use '../../ui/styles/variables.scss' as variables;

picture {
  @include mixin.flex(row, center, center, 0);

  img {
    width: 100%;
    height: auto;
  }
}

.article__bg {
  @include mixin.image(100%, 40%);
}

.article__device {
  @include mixin.image(38%, -65%);
  margin-left: 31%;
}

.article__coin-left {
  @include mixin.image(28%, 22%);
  position: absolute;
  left: 20px;
}

.article__device-blue {
  @include mixin.image(60%, 0);
  margin: 40px auto 0px;

}

.article__coin-right {
  @include mixin.image(20%, -45%);
  position: absolute;
  right: 45px;
}

.article__activity img {
  @include mixin.flex(row, center, center, 0);
  @include mixin.image(70%, 32px);
}

.article__device-1,
.article__device-2,
.article__device-3 {
  @include mixin.image(90%, 0);
}

.article__device-mask {
  @include mixin.image(35%, auto);
  margin: 0 auto;
  
  img {
    z-index: 1;
  }
}

.article__stake {
  @include mixin.image(100%, 22px);
}

.article__browser {
  @include mixin.image(90%, 40px);

  img {
    @include mixin.flex(row, flex-start, center, 0);
    border-bottom-left-radius: 40px;
  }
}

.article__device-gray {
  @include mixin.image(35%, -80%);
  position: absolute;
  margin-left: -250px;
}