@use '../../../ui/styles/variables.scss' as variables;
@use '../../../ui/styles/mixins.scss' as mixin;

.right {
  @include mixin.flex(column, flex-start, stretch, 25px);
  max-width: 50vw;
  left: 50%;
  transform: translateX(100%);
  padding-right: 225px;
  margin: 25px 0;

  .article {
    @include mixin.flex(column, flex-start, center, 0);
    @include mixin.radius(100%, auto, 40px);
    background-color: variables.$gray-100;

    &__icon {
      @include mixin.flex(row, center, stretch, 0);
      @include mixin.radius(48px, 48px, 50px);
      margin-top: 40px;

      svg {
        @include mixin.radius(24px, auto, 50px);
      }

      &--arrow {
        @include mixin.radius(80px, 40px, 100px 100px 0 0);
        margin-top: 28px;
        background-color: variables.$gray-90;

        svg {
          background-color: variables.$gray-90;
          width: 20px;
          margin-top: 7px;
        }
      }
    }

    &__title {
      background-color: variables.$gray-100;
      margin-top: 20px;
      font-size: 22px;
      font-weight: 600;
      letter-spacing: 1.2px;
      text-align: center;

      &--mini {
        font-size: 12px;
        color: variables.$gray-40;
        text-align: center;
        margin-top: 48px;
        line-height: 1.4;
      }

      &--highlight {
        margin-top: 55px;
        background: variables.$gradient-color;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 40px;
        font-weight: bold;
      }
    }

    h4 {
      margin-top: 30px;
      font-size: 23px;
      font-weight: bold;
      background: none;
      text-align: center;
    }

    h5 {
      font-size: 16px;
      font-weight: normal;
      background: none;
      margin: 20px;
      text-align: center;
    }

    picture {
      @include mixin.flex(row, center, center, 0);

      img,
      video {
        background-color: variables.$gray-100;
        width: 100%;
        height: auto;
      }
    }

    &__bg {
      @include mixin.image(100%, 39%);
    }

    &__device {
      @include mixin.image(38%, -64%);
    }

    &__pictures {
      @include mixin.flex(row, center, stretch, 0);
      background: none;
      background-color: transparent;
      position: relative;

      &--three {
        margin-top: 40px;
        margin-bottom: 90px;
        margin-left: 65px;
        gap: 25px;
      }

      &--circle {
        margin-top: 40px;
        margin-bottom: 60px;
      }
    }

    &__coin-left {
      @include mixin.image(28%, 22%);
      position: absolute;
      background: none;
      left: 20px;

      img {
        background-color: transparent !important;
      }
    }

    &__device-blue {
      @include mixin.image(60%, 6.4%);
    }

    &__coin-right {
      @include mixin.image(20%, 37%);
      position: absolute;
      background: none;
      right: 50px;

      img {
        background-color: transparent !important;
      }
    }

    &__activity {
      @include mixin.image(70%, 32px);
    }

    &__device-1,
    &__device-2 {
      @include mixin.image(60%, 0);
    }

    &__device-3 {
      @include mixin.image(35.79%, 0);
    }

    &__circle {
      @include mixin.radius(370px, 370px, 50%);
      @include mixin.image(370px, 10%);
      background-color: variables.$red-light;
      position: absolute;
    }

    &__device-mask {
      @include mixin.image(35%, auto);
      background: none;
      z-index: 1;

      img {
        background-color: transparent !important;
      }
    }

    &__video {
      @include mixin.image(31%, 10px);
      position: absolute;

      video:nth-child(1) {
        display: none;
      }

      video:nth-child(2) {
        display: block;
      }

      @media (prefers-color-scheme: light) {
        video:nth-child(1) {
          display: block;
        }

        video:nth-child(2) {
          display: none;
        }
      }
    }

    &__stake {
      @include mixin.image(100%, 22px);
      background: none;

      img {
        background-color: transparent !important;
      }
    }

    &__browser {
      @include mixin.image(89%, 76px);
      margin-left: -11%;

      img {
        border-bottom-left-radius: 40px;
      }
    }

    &__device-gray {
      @include mixin.image(25%, 200px);
      position: absolute;
      background: none;
      margin-left: -250px;

      img {
        background-color: transparent !important;
      }
    }

    &__navigations {
      @include mixin.flex(row, center, center, 0);
      background: none;

      .article__navigation:nth-child(4) {
        img {
          width: 48px;
        }
      }
    }

    &__navigation {
      @include mixin.flex(column, center, center, 15px);
      background: none;
      padding: 10px;
      border-radius: 10px;
      transition: background-color 0.5s ease;

      img {
        background-color: transparent;
        width: 55px;
      }

      span {
        @include mixin.radius(80px, 40px, 50px);
        background-color: variables.$gray-90;
        padding: 10px;
        text-align: center;
      }

      &:hover {

        background-color: variables.$gray-110;
      }
    }

    &__actions {
      @include mixin.flex(row, center, center, 20px);
      background: none;
      margin-bottom: 60px;
      margin-top: 10px;
    }

    &__action {
      @include mixin.flex(row, center, center, 5px);
      background-color: variables.$white;
      padding: 9px 15px;
      border-radius: 20px;
      transition: background-color 0.5s ease;

      i {
        background: none;

        svg {
          width: 18px;
          background-color: transparent;

          path {
            color: black;
          }
        }
      }

      span {
        background-color: transparent;
        color: black;
        text-align: center;
      }

      &:hover {
        background-color: variables.$gray-40;
      }
    }

    $colors: (
      1: variables.$blue,
      2: variables.$orange,
      3: variables.$green,
      4: variables.$red,
      5: variables.$purple,
      6: variables.$mustard,
    );

  @each $key, $value in $colors {
    &:nth-child(#{$key + 1}) {

      .article__icon,
      svg {
        background-color: $value;
      }
    }
  }
}
}