<section>
  <div class="right">
    <app-article [svg]="arrow.svg" [color]="arrow.color" [classModifier]="arrow.classModifier" [titleModifier]="arrow.titleModifier" [title]="arrow.title" [pictures]="arrow.pictures"></app-article>
    <app-article [svg]="swap.svg" [color]="swap.color" [title]="swap.title" [pictures]="swap.pictures"></app-article>
    <app-article [svg]="activity.svg" [color]="activity.color" [title]="activity.title" [pictures]="activity.pictures"></app-article>
    <app-article [svg]="explore.svg" [color]="explore.color" [modifier]="explore.modifier" [title]="explore.title" [pictures]="explore.pictures"></app-article>
    <app-article [svg]="token.svg" [color]="token.color" [modifier]="token.modifier" [title]="token.title" [pictures]="token.pictures"></app-article>
    <app-article [svg]="stake.svg" [color]="stake.color" [title]="stake.title" [pictures]="stake.pictures"></app-article>
    <app-article [svg]="browser.svg" [color]="browser.color" [title]="browser.title" [pictures]="browser.pictures"></app-article>

   <!-- 
    <article class="article">
      <span class="article__title--highlight">Get Glow Now</span>
      <h4>Desktop</h4>
      <h5>Turn your browser into an <br> easy-to-use Solana wallet.</h5>
      <div class="article__navigations">
        <a class="article__navigation" aria-label="Download Glow wallet for Chrome" role="button"
          href="https://chrome.google.com/webstore/detail/glow-solana-wallet-beta/ojbcfhjmpigfobfclfflafhblgemeidi?hl=en&authuser=0"
          target="_blank">
          <img src="images/chrome.png" alt="Chrome browser logo, click to add Glow wallet to Chrome.">
          <span>Chrome</span>
        </a>

        <a class="article__navigation" aria-label="Download Glow wallet for Edge" role="button"
          href="https://microsoftedge.microsoft.com/addons/detail/glow-solana-wallet/niihfokdlimbddhfmngnplgfcgpmlido"
          target="_blank">
          <img src="images/edge.png" alt="Edge browser logo, click to add Glow wallet to Edge.">
          <span>Edge</span>
        </a>

        <a class="article__navigation" aria-label="Download Glow wallet for Firefox" role="button"
          href="https://addons.mozilla.org/en-US/firefox/addon/glow-solana-wallet/" target="_blank">
          <img src="images/firefox.png" alt="Firefox browser logo, click to add Glow wallet to Firefox.">
          <span>Firefox</span>
        </a>

        <a class="article__navigation" aria-label="Download Glow wallet for Brave" role="button"
          href="https://chrome.google.com/webstore/detail/glow-solana-wallet-beta/ojbcfhjmpigfobfclfflafhblgemeidi?hl=en&authuser=0"
          target="_blank">
          <img src="images/brave.png" alt="Brave browser logo, click to add Glow wallet to Brave.">
          <span>Brave</span>
        </a>
      </div>
      <h4>Mobile</h4>
      <h5>Use Glow and your favorite <br> web3 apps on the go.</h5>
      <div class="article__actions">
        <a class="article__action modal__open" aria-label="Download Glow wallet for iOS" role="button">
          <i aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path fill="currentColor"
                d="M11.513 8.445a3.207 3.207 0 0 1 1.515-2.67 3.297 3.297 0 0 0-2.566-1.386c-1.08-.114-2.126.646-2.676.646-.56 0-1.408-.635-2.32-.616A3.445 3.445 0 0 0 2.59 6.172c-1.243 2.153-.315 5.317.876 7.057.595.852 1.292 1.804 2.203 1.77.892-.037 1.225-.569 2.301-.569 1.067 0 1.38.57 2.31.548.956-.016 1.559-.856 2.134-1.716a7.049 7.049 0 0 0 .976-1.989 3.102 3.102 0 0 1-1.877-2.828Zm-1.756-5.2A3.133 3.133 0 0 0 10.474 1 3.187 3.187 0 0 0 8.41 2.067a3.008 3.008 0 0 0-.735 2.161 2.666 2.666 0 0 0 2.081-.984Z">
              </path>
            </svg>
          </i>
          <span>Get for iOS</span>
        </a>

        <a class="article__action modal__open" aria-label="Download Glow wallet for Android" role="button">
          <i aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              <path fill="currentColor"
                d="M420.55 301.93a24 24 0 1 1 24-24 24 24 0 0 1-24 24m-265.1 0a24 24 0 1 1 24-24 24 24 0 0 1-24 24m273.7-144.48 47.94-83a10 10 0 1 0-17.27-10l-48.54 84.07a301.25 301.25 0 0 0-246.56 0l-48.54-84.07a10 10 0 1 0-17.27 10l47.94 83C64.53 202.22 8.24 285.55 0 384h576c-8.24-98.45-64.54-181.78-146.85-226.55">
              </path>
            </svg>
          </i>
          <span>Get for Android</span>
        </a>
      </div>
    </article> -->
  </div>
</section>