<section>
  <div class="right">
    <article class="article">
      <picture class="article__bg">
        <source srcset="images/dark/bg-dark.webp" media="(prefers-color-scheme: dark)">
        <img src="images/light/bg-light.webp" alt="Glow wallet interface on a device with text describing its features.">
      </picture>
      <picture class="article__device">
        <source srcset="images/dark/device-dark.webp" media="(prefers-color-scheme: dark)">
        <img src="images/light/device-light.webp" alt="Interface of a wallet with its total balance and list of coins.">
      </picture>
      <span class="article__title article__title--mini">EXPLORE <br> GLOW FEATURES</span>
      <div class="article__icon article__icon--arrow">
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"><path d="M12 5v14M19 12l-7 7-7-7"></path></svg>
      </div>
    </article>

    <article class="article">
      <div class="article__icon">
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="evenodd" d="M10.075 4.143c-.138-.522.287-1.16 1.136-2.435C11.913.656 12.264.13 12.74.027a1.2 1.2 0 0 1 .506 0c.475.102.826.629 1.528 1.681.85 1.275 1.275 1.913 1.137 2.435a1.2 1.2 0 0 1-.262.49c-.243.274-.675.362-1.406.39v6.314a3.75 3.75 0 1 1-7.5 0v-6a1.25 1.25 0 1 0-2.5 0v5.313c.731.028 1.163.116 1.406.391a1.2 1.2 0 0 1 .262.49c.138.522-.287 1.16-1.137 2.434-.702 1.052-1.053 1.579-1.528 1.681-.167.036-.34.036-.506 0-.476-.102-.827-.629-1.529-1.681C.361 12.69-.063 12.053.075 11.53a1.2 1.2 0 0 1 .261-.489c.244-.275.675-.363 1.407-.391V5.337a3.75 3.75 0 1 1 7.5 0v6a1.25 1.25 0 0 0 2.5 0V5.023c-.732-.028-1.163-.116-1.407-.39a1.2 1.2 0 0 1-.261-.49Z"></path></svg>
      </div>
      <span class="article__title">Swap Coins with Zero Fees</span>
      <div class="article__pictures">
        <picture class="article__coin-left">
          <source srcset="images/dark/coin-left-dark.webp" media="(prefers-color-scheme: dark)">
          <img src="images/light/coin-left-light.webp" alt="Image of a virtual currency wallet showing digital coins.">
        </picture>
        <picture class="article__device-blue">
          <source srcset="images/dark/device-dark-blue.webp" media="(prefers-color-scheme: dark)">
          <img src="images/light/device-light-blue.webp" alt="Application interface for currency exchange.">
        </picture>
        <picture class="article__coin-right">
          <source srcset="images/dark/coin-right-dark.webp" media="(prefers-color-scheme: dark)">
          <img src="images/light/coin-right-light.webp" alt="Image of a virtual currency wallet showing digital coins.">
        </picture>
      </div>
    </article>

    <article class="article">
      <div class="article__icon">
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path fill="currentColor" d="M10.227 14.88H4.801a.8.8 0 0 1-.646-1.272L13.481.83c.456-.625 1.446-.303 1.446.472v9.215a.8.8 0 0 0 .8.8h5.426a.8.8 0 0 1 .646 1.272l-9.326 12.778c-.456.625-1.446.302-1.446-.472V15.68a.8.8 0 0 0-.8-.8Z"></path></svg>
      </div>
      <span class="article__title">All your activity. In one place.</span>
      <picture class="article__activity">
        <source srcset="images/dark/activity-dark.webp" media="(prefers-color-scheme: dark)">
        <img src="images/light/activity-light.webp" alt="Coin activity history application interface.">
      </picture>
    </article>

    <article class="article">
      <div class="article__icon">
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16Zm-3.934-4.524c-.454-.588-.25-1.533.155-3.423.306-1.423.459-2.135.903-2.65.086-.1.179-.193.278-.278.516-.445 1.228-.598 2.65-.904 1.89-.406 2.836-.609 3.424-.155a1.6 1.6 0 0 1 .288.289c.454.588.251 1.533-.155 3.423-.305 1.423-.458 2.135-.903 2.65-.086.1-.178.192-.278.278-.516.445-1.227.598-2.65.904-1.89.405-2.835.608-3.423.155a1.597 1.597 0 0 1-.29-.29Zm4.792-4.503a1.333 1.333 0 1 1-1.886 1.885 1.333 1.333 0 0 1 1.886-1.885Z" clip-rule="evenodd"></path></svg>
      </div>
      <span class="article__title">Effortlessly Explore NFTs</span>
      <div class="article__pictures article__pictures--three">
        <picture class="article__device-1">
          <source srcset="images/dark/device-1-dark.webp" media="(prefers-color-scheme: dark)">
          <img src="images/light/device-1-light.webp" alt="Application interface to search for digital currencies.">
        </picture>
        <picture class="article__device-2">
          <source srcset="images/dark/device-2-dark.webp" media="(prefers-color-scheme: dark)">
          <img src="images/light/device-2-light.webp" alt="Application interface for displaying the statistics of a coin.">
        </picture>
        <picture class="article__device-3">
          <source srcset="images/dark/device-3-dark.webp" media="(prefers-color-scheme: dark)">
          <img src="images/light/device-3-light.webp" alt="Half image with informative interface of a coin.">
        </picture>
      </div>
    </article>

    <article class="article">
      <div class="article__icon">
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="evenodd" d="M13.594 5.048c-.78-1-2.602-3.711-3.852-4.796-1.25-1.085-2.397 4.532-3.75 6.085C4.639 7.89 3.155 4.113 2.39 5.049A6.53 6.53 0 0 0 .992 9.094c0 3.718 3.14 6.743 7 6.743s7-3.026 7-6.746a6.519 6.519 0 0 0-1.398-4.043Z"></path></svg>
      </div>
      <span class="article__title">Received spam tokens? <br> Burn them and earn SOL.</span>
      <div class="article__pictures article__pictures--circle">
        <div class="article__circle"></div>
        <picture class="article__device-mask">
          <source srcset="images/dark/device-mask-dark.png" media="(prefers-color-scheme: dark)">
          <img src="images/light/device-mask-light.png" alt = "Cell phone border with transparent background.">
        </picture>
        <picture class="article__video">
          <video src="videos/burn-light.mp4" autoplay loop muted></video>
          <video src="videos/burn-dark.mp4" autoplay loop muted></video>
        </picture>
      </div>
    </article>

    <article class="article">
      <div class="article__icon">
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="evenodd" d="M.377 7.836c0 1.243 1 2.243 3 4.243l.444.444c2 2 3 3 4.242 3 1.243 0 2.243-1 4.243-3l.444-.444c2-2 3-3 3-4.243 0-1.242-1-2.242-3-4.242l-.444-.444c-2-2-3-3-4.243-3-1.242 0-2.242 1-4.242 3l-.444.444c-2 2-3 3-3 4.242Zm11.367-.84a1 1 0 0 0-1.504-1.319L9.06 7.024l-.845-.88a1 1 0 0 0-1.429-.015l-2 2A1 1 0 1 0 6.2 9.543l1.279-1.278.893.93a1 1 0 0 0 1.473-.033l1.9-2.166Z"></path></svg>
      </div>
      <span class="article__title">Stake and Earn SOL</span>
      <picture class="article__stake">
        <source srcset="images/dark/stake-dark.webp" media="(prefers-color-scheme: dark)">
        <img src="images/light/stake-light.webp" alt="Application interface for displaying coin winnings.">
      </picture>
    </article>

    <article class="article">
      <div class="article__icon">
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="evenodd" d="M1.491 5.837c-.217 0-.426.035-.622.099-.475.155-.713.233-.796.17-.083-.061-.078-.26-.067-.656.041-1.622.207-2.578.864-3.234.879-.879 2.293-.879 5.121-.879h1c2.829 0 4.243 0 5.122.879.58.58.777 1.394.844 2.696.011.214.017.32.076.376.059.055.178.053.418.05l.041-.001a2.5 2.5 0 1 1-.041 5c-.24-.004-.36-.006-.418.049-.06.055-.065.162-.076.377-.067 1.3-.264 2.115-.844 2.695-.879.879-2.293.879-5.122.879h-1c-2.828 0-4.242 0-5.12-.879-.658-.656-.824-1.612-.865-3.234-.01-.397-.016-.595.067-.657.083-.062.321.016.796.171a2 2 0 1 0 .622-3.901Z"></path></svg>
      </div>
      <span class="article__title">Connect to apps on desktop, <br> and on-the-go.</span>
      <picture class="article__browser">
        <source srcset="images/dark/browser-dark.webp" media="(prefers-color-scheme: dark)">
        <img src="images/light/browser-light.webp" alt="Web interface for transaction notification.">
      </picture>
      <picture class="article__device-gray">
        <source srcset="images/dark/device-dark-gray.webp" media="(prefers-color-scheme: dark)">
        <img src="images/light/device-light-gray.webp" alt="Application interface to connect to a wallet">
      </picture>
    </article>

    <article class="article">
      <span class="article__title--highlight">Get Glow Now</span>
      <h4>Desktop</h4>
      <h5>Turn your browser into an <br> easy-to-use Solana wallet.</h5>
      <div class="article__navigations">
        <a class="article__navigation" aria-label="Download Glow wallet for Chrome" role="button" href="https://chrome.google.com/webstore/detail/glow-solana-wallet-beta/ojbcfhjmpigfobfclfflafhblgemeidi?hl=en&authuser=0" target="_blank">
          <img src="images/chrome.png" alt="Chrome browser logo, click to add Glow wallet to Chrome.">
          <span>Chrome</span>
        </a>

        <a class="article__navigation" aria-label="Download Glow wallet for Edge" role="button" href="https://microsoftedge.microsoft.com/addons/detail/glow-solana-wallet/niihfokdlimbddhfmngnplgfcgpmlido" target="_blank">
          <img src="images/edge.png" alt="Edge browser logo, click to add Glow wallet to Edge.">
          <span>Edge</span>
        </a>

        <a class="article__navigation" aria-label="Download Glow wallet for Firefox" role="button" href="https://addons.mozilla.org/en-US/firefox/addon/glow-solana-wallet/" target="_blank">
          <img src="images/firefox.png" alt="Firefox browser logo, click to add Glow wallet to Firefox.">
          <span>Firefox</span>
        </a>
          
        <a class="article__navigation" aria-label="Download Glow wallet for Brave" role="button" href="https://chrome.google.com/webstore/detail/glow-solana-wallet-beta/ojbcfhjmpigfobfclfflafhblgemeidi?hl=en&authuser=0" target="_blank">
          <img src="images/brave.png" alt="Brave browser logo, click to add Glow wallet to Brave.">
          <span>Brave</span>
        </a>
      </div>
      <h4>Mobile</h4>
      <h5>Use Glow and your favorite <br> web3 apps on the go.</h5>
      <div class="article__actions">
        <a class="article__action modal__open" aria-label="Download Glow wallet for iOS" role="button">
          <i aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="currentColor" d="M11.513 8.445a3.207 3.207 0 0 1 1.515-2.67 3.297 3.297 0 0 0-2.566-1.386c-1.08-.114-2.126.646-2.676.646-.56 0-1.408-.635-2.32-.616A3.445 3.445 0 0 0 2.59 6.172c-1.243 2.153-.315 5.317.876 7.057.595.852 1.292 1.804 2.203 1.77.892-.037 1.225-.569 2.301-.569 1.067 0 1.38.57 2.31.548.956-.016 1.559-.856 2.134-1.716a7.049 7.049 0 0 0 .976-1.989 3.102 3.102 0 0 1-1.877-2.828Zm-1.756-5.2A3.133 3.133 0 0 0 10.474 1 3.187 3.187 0 0 0 8.41 2.067a3.008 3.008 0 0 0-.735 2.161 2.666 2.666 0 0 0 2.081-.984Z"></path></svg>
          </i>
          <span>Get for iOS</span>
        </a>

        <a class="article__action modal__open" aria-label="Download Glow wallet for Android" role="button">
          <i aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M420.55 301.93a24 24 0 1 1 24-24 24 24 0 0 1-24 24m-265.1 0a24 24 0 1 1 24-24 24 24 0 0 1-24 24m273.7-144.48 47.94-83a10 10 0 1 0-17.27-10l-48.54 84.07a301.25 301.25 0 0 0-246.56 0l-48.54-84.07a10 10 0 1 0-17.27 10l47.94 83C64.53 202.22 8.24 285.55 0 384h576c-8.24-98.45-64.54-181.78-146.85-226.55"></path></svg>
          </i>
          <span>Get for Android</span>
        </a>
      </div>
    </article>
  </div>
</section>