@use '../../ui/styles/mixins.scss' as mixin;

picture {
  @include mixin.flex(row, center, center, 0);

  video {
    width: 100%;
    height: auto;
  }
}

.article__video {
  @include mixin.image(31%, -69%);
  position: absolute;
  margin-left: -107px;

  video:nth-child(1) {
    display: none;
  }

  video:nth-child(2) {
    display: block;
  }

  @media (prefers-color-scheme: light) {
    video:nth-child(1) {
      display: block;
    }

    video:nth-child(2) {
      display: none;
    }
  }
}