<section class="left">
  <img class="left__logo" src="images/barney.png" alt="Glow app icon featuring a purple geometric design.">
  <a class="left__alert" href="https://play.google.com/store/apps/details?id=com.luma.wallet.prod" target="_blank" role="note" aria-live="polite">
      <h4><span>NEW</span> Glow is now available on Android!</h4>
  </a>
  <h1 class="left__title">Your new favorite Solana wallet awaits.</h1>
  <div class="left__actions">
    <a class="left__action"
      href="https://microsoftedge.microsoft.com/addons/detail/glow-solana-wallet-beta/niihfokdlimbddhfmngnplgfcgpmlido"
      target="_blank">
      <span>Get for Edge</span>
    </a>
    <a class="left__action modal__open" (click)="openModal()">
      <span>Get Mobile App</span>
    </a>
  </div>
  <div class="left__phrase">
    <a href="https://x.com/rajgokal/status/1489706531742371844" target="_blank">
      <span>"Great designers are finally coming to crypto."</span>
      <span>— Raj Gokal ‎ • ‎ Solana Co-founder</span>
    </a>
  </div>
</section>